/* main behind things */
html { 
    overflow-x:hidden;
}

body { 
    background-image:url(imgs/background.png);
}


/* styling the content */
.container {
    border:2px double white;
    box-shadow: 2px 2px 50px 4px black;
    border-radius:30px;
    object-position: center;
    color:white;
    margin-top:100px;
}

/* text */
 
.headertitlething {
    font-size:40px;
    text-shadow: 1px 1px black;

}

.underheaderthing {
    font-size:20px;
    text-shadow: 1px 1px black;

}

.mb-3 {
    font-size:22px;
    text-shadow: 1px 1px black;
    text-align:center;
}

form {
    width:900px;
    margin:0 auto;
}

/* submit button */

.btn {
    background-color:rgb(255, 119, 142);
    color:white;
    font-size:20px;
}

.btn:hover {
    color:black;
    background-color: white;
}